<div class="container">
  <div class="main-card">
    <div class="main-card-header">
      <div class="main-card-logo-container">
        <img
          src="../../../../assets/img/header auth.png"
          alt="header"
          class="main-card-logo"
        />
      </div>
      <div class="header-msg">Welcome to Wires</div>
    </div>

    <router-outlet></router-outlet>

    <p class="main-footer">All Rights Reserved. WIRES</p>
    <p class="main-footer"><a>Privacy Policy </a>|<a> Terms & conditions</a></p>
  </div>
</div>
